.Button {
    width: 100%;

    &-tools {
        background: none;
        border: none;
        font-size: 20px;
        margin-right: 35px;

        @include media-breakpoint-down(xl) {
            color: $paragraph-color;
            margin: 0;
        }
    }

    &-reservation {
        background-color: $LawnGreen;
        border: 2px solid $LawnGreen;
        border-radius: 5px;
        color: $white;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding: 7px 10px;

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    &-carousel {
        &-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 22px;
        }
        background: $LightSlateGray;
        border: none;
        border-radius: 30px;
        height: 5px;
        padding: 5px;
        width: 20px;
    }

    &-fill {
        background-color: $LawnGreen;
        border: none;
        border-radius: 5px;
        color: $white;
        font-family: $font-options;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        overflow: hidden;
        padding: 12px 35px;
        position: relative;
        transition: background-color 0.3s;

        &::before {
            background-color: $black-color;
            border-radius: 50% 50% 0 0;
            bottom: 0;
            color: $white;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            transition: height 0.3s;
            width: 100%;
        }

        &:hover {
            background-color: $black-color;
            color: $white;
        }

        &:hover::before {
            height: 100%;
        }

        @include media-breakpoint-down(lg) {
            font-size: 15px;
            padding: 12px 20px;
        }

        &-text {
            color: $white;
            position: relative;
        }
    }

    &-subscribe {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-size: 18px;
        height: 55px;
        padding: 12px 35px;

        @include media-breakpoint-down(sm) {
            align-items: center;
            display: flex;
            font-size: 15px;
            justify-content: center;
            padding: 12px 30px;
        }
    }

    &-checkout {
        font-size: 14px;
        padding: 5px 18px;
        & span {
            position: relative;
        }
    }

    &-products {
        background: $LawnGreen;
        border: none;
        border-radius: 5px;
        color: $white;
        font-size: 16px;
        padding: 8px 30px;

        &-active {
            color: $black-color;
        }

        @include media-breakpoint-down(xl) {
            background: none;
            border: 1px solid $LawnGreen;
            color: $black;

            &-active {
                background: $LawnGreen;
            }
        }

        @include media-breakpoint-down(md) {
            font-size: 14px;
            padding: 8px 10px;
        }
    }

    &-add {
        background: none;
        border: 1px solid $LawnGreen;
        border-radius: 5px;
        color: $black;
        font-family: inherit;
        font-size: 16px;
        padding: 5px 18px;

        & span {
            position: relative;
        }
    }

    &-apply {
        background: none;
        border: none;
        color: $LawnGreen;
        margin-top: 20px;
    }

    &-view {
        padding: 5px 18px;

        &-text {
            font-size: 14px;
        }
    }

    &-top {
        align-items: center;
        background: $LawnGreen;
        border: none;
        border-radius: 50%;
        display: flex;
        height: 40px;
        justify-content: center;
        opacity: 0;
        position: fixed;
        right: 15px;
        top: 0;
        transform: translateY(-100%);
        transition: all 0.9s ease 0s;
        visibility: hidden;
        width: 40px;

        &.visible {
            opacity: 1;
            top: 94%;
            transform: translateY(0);
            visibility: visible;
        }

        &:hover {
            background: $black-color;
        }

        &-icon {
            color: $white;
        }
    }
}
