.Reservation {
    align-items: center;
    background-color: $Gainsboro;
    display: flex;
    flex-direction: column;
    padding: 80px 0 100px;

    &-content {
        margin: 0 auto;
        max-width: 1416px;
        width: 100%;
    }

    &-text {
        color: $black-color;
        font-family: $font-options;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 55px;
        text-align: center;

        &::after {
            background: $LawnGreen;
            content: "";
            display: block;
            height: 1px;
            left: 50%;
            margin-top: 15px;
            position: absolute;
            transform: translate(-50%, 50%);
            width: 200px;
        }
    }

    &-title {
        color: $black-color;
        font-family: $font-options;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }

    &-carousel {
        width: 80%;
    }

    &-card {
        background-color: $white;
        border-radius: 10px;
        box-shadow: $shadow-offer;
        height: 360px;
        padding: 20px;
        position: relative;
        text-align: left;
        transition: 0.4s all ease-in-out;
        width: 324px;

        &:hover {
            background-color: $LawnGreen;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transform: translateY(-10px);

            .Reservation-card-title,
            .Reservation-card-text {
                color: $white;
            }
        }
    }

    &-card-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40px;
        margin-bottom: 25px;
        object-fit: cover;
        width: 40px;
    }

    &-card-title {
        color: $green;
        font-family: $font-options;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 18px;
        width: 200px;
    }

    &-card-text {
        color: $paragraph-color;
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 25px;
    }

    &-card-image {
        height: 100px;
        width: 50%;
    }

    @media (max-width: $xxl) {
        &-carousel {
            padding-left: 15px;
            width: 100%;
        }
    }

    @media (max-width: $xl) {
        &-carousel {
            padding-left: 0;
            width: 79%;
        }
    }

    @media (max-width: $laptod) {
        &-card {
            height: 362px;
            width: 93%;
        }

        &-carousel {
            padding-left: 15px;
            width: 100%;
        }
    }

    @media (max-width: $mobileL) {
        &-carousel {
            width: 90%;
        }
    }
}
